name: Deploy Staging Website

on:
  push:
    branches: [ "develop" ]

permissions:
  pages: write
  id-token: write

jobs:
  deploy-staging:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload staging site
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

      - name: Deploy to GitHub Pages (Staging)
        uses: actions/deploy-pages@v4
